{% extends './base.html' %}

{% block title %}
User Home-Page
{% endblock %}

{% load static %}

{% block js %}
<script type="text/javascript" src="{% static 'js/login_page.js' %}"></script>
{% endblock %}

{% block content %}
<style>
    .image-holder {
      position: relative;

}
.image-holder .btn {
  position: absolute;
  top: 10%;
  left: 80%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}
.image-holder .pin_name {
  position: absolute;
  top: 50%;
  left: 53%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}
.image-holder .fav_btn {
  position: absolute;
  top: 20%;
  left: 85%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}
</style>
<div class="container-fluid text-center">
    <br>
    <h1 class="text-primary"><b>SEARCH RESULTS</b></h1>
    {% if messages %}
      <div class="container-sm text-center p-3 mb-2 bg-danger text-white">
            {% for message in messages %}
            <h5 {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</h5>
            {% endfor %}
      </div>
    {% endif %}

<!--    {% if not fol_images and images %}-->
<!--        <br>-->
<!--        <h5 class="text-dark">We looked high and low, but…</h5>-->
<!--        <h1 class="text-danger "><b>No Pins Found by "{{search_text}}"</b></h1>-->
<!--    {% endif %}-->

    <div class="row text-uppercase">


        {% if fol_images and images %}
        <!--    BOTH FOUND    **************-->
            <!--    FOLDER PINS   -->
            {% for fol in fol_images %}
            <div class="col-sm-2 image-holder">
                <img class="rounded" src="{{fol.imagesPin.image.url}}" width="200" style="width: 200px;">
                <a href="{% url 'select-folder' %}?action='{{fol.imagesPin.id}}'" class="btn btn-sm btn-danger rounded"><b>SAVE</b></a>
                <a href="{% url 'pin-page' fol.imagesPin.slug %}" class="pin_name btn-lg text-light rounded " style="background: rgba(0, 0, 0, 0.4); width:200px;"><b>{{fol.imagesPin.image_name}}</b></a>
                {% if fol.imagesPin.favimage_set.all %}
                <a href="{% url 'fav-pin' fol.imagesPin.id %}" class="fav_btn btn-sm btn-danger rounded "><i class="fas fa-star"></i></a>
                {% else %}
                <a href="{% url 'fav-pin' fol.imagesPin.id %}" class="fav_btn btn-sm btn-danger rounded "><i class="far fa-star"></i></a>
                {% endif %}
            </div>
            {% endfor %}
            <!--    IMAGE PINS   -->
            {% for img in images %}
            <div class="col-sm-2 image-holder">
                <img class="rounded" src="{{img.image.url}}" width="200" style="width: 200px;">
                <a href="{% url 'select-folder' %}?action='{{img.id}}'" class="btn btn-sm btn-danger rounded"><b>SAVE</b></a>
                <a href="{% url 'pin-page' img.slug %}" class="pin_name btn-lg text-light rounded " style="background: rgba(0, 0, 0, 0.4); width:200px;"><b>{{img.image_name}}</b></a>
                {% if img.favimage_set.all %}
                <a href="{% url 'fav-pin' img.id %}" class="fav_btn btn-sm btn-danger rounded "><i class="fas fa-star"></i></a>
                {% else %}
                <a href="{% url 'fav-pin' img.id %}" class="fav_btn btn-sm btn-danger rounded "><i class="far fa-star"></i></a>
                {% endif %}
            </div>
        {% endfor %}
    <!--        **************-->
        {% elif fol_images %}
    <!--    FOLDER'S IMAGES FOUND    **************-->
            {% for fol in fol_images %}
            <div class="col-sm-2 image-holder">
                <img class="rounded" src="{{fol.imagesPin.image.url}}" width="200" style="width: 200px;">
                <a href="{% url 'select-folder' %}?action='{{fol.imagesPin.id}}'" class="btn btn-sm btn-danger rounded"><b>SAVE</b></a>
                <a href="{% url 'pin-page' fol.imagesPin.slug %}" class="pin_name btn-lg text-light rounded " style="background: rgba(0, 0, 0, 0.4); width:200px;"><b>{{fol.imagesPin.image_name}}</b></a>
                {% if fol.imagesPin.favimage_set.all %}
                <a href="{% url 'fav-pin' fol.imagesPin.id %}" class="fav_btn btn-sm btn-danger rounded "><i class="fas fa-star"></i></a>
                {% else %}
                <a href="{% url 'fav-pin' fol.imagesPin.id %}" class="fav_btn btn-sm btn-danger rounded "><i class="far fa-star"></i></a>
                {% endif %}
            </div>
            {% endfor %}
    <!--    **************-->

        {% elif images %}
    <!--    IMAGES FOUND    **************-->
            {% for img in images %}
            <div class="col-sm-2 image-holder">
                <img class="rounded" src="{{img.image.url}}" width="200" style="width: 200px;">
                <a href="{% url 'select-folder' %}?action='{{img.id}}'" class="btn btn-sm btn-danger rounded"><b>SAVE</b></a>
                <a href="{% url 'pin-page' img.slug %}" class="pin_name btn-lg text-light rounded " style="background: rgba(0, 0, 0, 0.4); width:200px;"><b>{{img.image_name}}</b></a>
                {% if img.favimage_set.all %}
                <a href="{% url 'fav-pin' img.id %}" class="fav_btn btn-sm btn-danger rounded "><i class="fas fa-star"></i></a>
                {% else %}
                <a href="{% url 'fav-pin' img.id %}" class="fav_btn btn-sm btn-danger rounded "><i class="far fa-star"></i></a>
                {% endif %}
            </div>
        {% endfor %}
    <!--        **************-->
        {% else %}
        <br>
        <br>
        <div class="container text-center">
            <br>
            <br>
            <h5 class="text-dark">We looked high and low, but…</h5>
            <h1 class="text-danger "><b>No Pins Found by "{{search_text}}"</b></h1>
        </div>
        {% endif %}
    </div>
    <br>
    <br>

</div>
{% endblock %}