{% extends './base.html' %}

{% block title %}
Select folder
{% endblock %}

{% load static %}

{% block js %}
<script type="text/javascript" src="{% static 'js/login_page.js' %}"></script>
{% endblock %}

{% block content %}

<div class="container-fluid text-center">

    <h1 class="text-primary text-uppercase"><b>Select A Board</b></h1>
    <br>
    {% if messages %}
      <div class="container-sm text-center p-3 mb-2 bg-danger text-white">
            {% for message in messages %}
            <h5 {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</h5>
            {% endfor %}
      </div>
    {% endif %}
    <br>
    <div class="row text-center">


        <div class="col-sm-6 border border-danger rounded">
            <div class="row">

                {% for folder in folders %}
                <div class="col-sm-3">
                    <br>
                    <form action="" method="POST">
                        {% csrf_token %}
                        <input type="text" name="folder_id" value="{{folder.id}}" hidden class="d-none">
                        <input type="submit" class="btn btn-lg btn-danger" value="{{folder.name}}">
                    </form>

                    <br>
                </div>
                {% endfor %}
            </div>
        </div>
        <div class="col-sm-6">
            <div class="container text-left">
                <h1><b> Create New Board </b></h1>
                <br>
                <form action="{% url 'create-board' %}" method="POST">
                    {% csrf_token %}
                    <input type="text" placeholder="Enter Board Name" name="board_name" class="form-control">
                    <input type="text" name="pk" value="{{pk}}" hidden>
                    <br>
                    <input type="submit" value="Create" class="btn btn-sm btn-outline-danger rounded">
                    <br>
                </form>
            </div>
        </div>
    </div>
    <br>
    <br>

</div>
{% endblock %}